@model IEnumerable<Shared.shared.Dtos.UsuarioDto>
@{
    var createOrUpdate = TempData["createOrEdit"] == null ? "nada" : TempData["createOrEdit"];
}

<div class="container">
    @if (User.IsInRole("admin"))
    {
        <div class="row justify-content-center" id="BotonNuevo">
            <div class="col-md-8 mb-4">
                <a class="btn btn-outline-primary" onclick="EditarUsuario('','','')"><i class="fas fa-plus"></i> Nuevo</a>
            </div>
        </div>
    }
    <div class="row justify-content-center" id="ContenedorPartials">
    </div>
</div>
@section scripts{
<script>

    $(document).ready(function () {
        debugger

        $('#ContenedorPartials').load('@Url.Action("_TablaUsuarios","Home")');

        
        if('@createOrUpdate' === "create"){
            alertify.success('Usuario creado con exito')
        }

        if('@createOrUpdate' === "update"){
            alertify.success('Usuario actualizado con exito')
        }

    });

    

    function DeleteUser(id, email){
        event.preventDefault();
        alertify.confirm('Borrar Usuario', '¿Esta seguro que desea eliminar de manera permanente al usuario ' + email + '?',
        function()
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete", "Home")',
                data: { usuarioId: id },
                success: function (data) {
                    if (data.result == true) {
                        $("#Fila" + id).remove();
                        alertify.success('Usuario borrado con exito')
                    } else {
                        alertify.error('Ocurrio un problema al eliminar al usuario');
                    }
                }
            });
        }
                , function(){ });
    }

    function ChangeCheck(usuarioId, email, rolId){
        debugger
        var estado = $("#check" + usuarioId).prop('checked');
        $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateEstado", "Home")',
                data: { usuarioId: usuarioId, rolId: rolId, email: email, activo: estado},
                success: function (data) {
                    if (data.result == true) {
                        alertify.success('Estado actualizado con exito')
                    } else {
                        alertify.error('Ocurrio un problema al actualizar el estado');
                    }
                }
            });
    }

    function EditarUsuario(usuarioId, email, rolId){
        var estado = $("#check" + usuarioId).prop('checked');
        $("#BotonNuevo").hide();
        $('#ContenedorPartials').load('@Url.Action("_CreateOrEdit","Home")/?usuarioId=' + usuarioId + '&email=' + email + '&rolId=' + rolId + '&estado=' + estado);

    }

</script>
}